In [111]:
import pandas as pd

In [112]:
import json

## Enter the business Name
##### Please use %20 in the place of spaces. Ex -  APPLE%20COMPUTERS

In [254]:
inp=''

## Enter the API key

In [259]:
key=''

In [255]:
inputtype='textquery'

In [256]:
language='en'

In [257]:
fields='place_id,name,business_status'  #types

In [258]:
locationbias='circle:2000000@22.5056162,79.0594939'

### Findplacefromtext

In [260]:
url='''https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=''' + inp +'''&inputtype='''+inputtype+'''&fields='''+fields+'''&locationbias=''' +  locationbias +'''&key='''+key

In [261]:
url_2=url='''https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=''' + inp +'''&inputtype='''+inputtype+'''&fields='''+fields+'''&key='''+key

## Query for text search

In [262]:
query='Shrug%20Kurti%20Manufacturer%20in%20Ahmedabad'

### Textsearch

In [263]:
url_textsearch='https://maps.googleapis.com/maps/api/place/textsearch/json?query='+query+'&radius=200000&location=22.5056162,79.0594939'+'&key='+key

In [264]:
import urllib.request
with urllib.request.urlopen(url) as f:
    data=f.read(100000)

In [265]:
data_json=json.loads(data.decode())

In [266]:
final_data=pd.json_normalize(data_json['candidates'])

## Places found

In [267]:
final_data

,business_status,name,obfuscated_type,place_id
0,OPERATIONAL,Haldiram Bhujiawala,[],ChIJ17RU0MLKmjkRYwUVJU0NeM4

In [268]:
fields_details='place_id,formatted_phone_number,website'

In [269]:
for index, row in final_data.iterrows():
    place_id=row['place_id']
    url_details='https://maps.googleapis.com/maps/api/place/details/json?place_id='+place_id+'&fields='+fields_details+'&key='+key

In [270]:
with urllib.request.urlopen(url_details) as f:
    data_details=f.read(1600)

In [271]:
contact_details=pd.json_normalize(json.loads(data_details.decode()))

In [272]:
try:

    contact_details_less=contact_details[['result.formatted_phone_number','result.place_id','result.website' ]]
    contact_details_less.columns = ['phone','place_id','website']
except:
    try:
        print('Phone not found')
        contact_details_less=contact_details[['result.place_id','result.website' ]]
        contact_details_less.columns=['place_id','website']
        
        #contact_details_less['phone'] ='Not found'
    except:
        contact_details_less=contact_details[['result.place_id' ]]
        contact_details_less.columns=['place_id']
        print('Website not found')

## Place details

In [273]:
pd.merge(final_data,contact_details_less, on='place_id', how='left' )

,business_status,name,obfuscated_type,place_id,phone,website
0,OPERATIONAL,Haldiram Bhujiawala,[],ChIJ17RU0MLKmjkRYwUVJU0NeM4,070808 01395,http://www.haldiram.com/