In [1]:
import pandas as pd

In [2]:
import json

In [3]:
inp='TRENDZIE%20COLLECTION'

In [4]:
inputtype='textquery'

In [5]:
language='en'

In [6]:
fields='place_id,name,business_status,types'

In [7]:
locationbias='circle:2000000@22.5056162,79.0594939'

In [8]:
key=''

In [9]:
url='''https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=''' + inp +'''&inputtype='''+inputtype+'''&fields='''+fields+'''&locationbias=''' +  locationbias +'''&key='''+key

In [10]:
url_2=url='''https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=''' + inp +'''&inputtype='''+inputtype+'''&fields='''+fields+'''&key='''+key

In [11]:
query='Shrug%20Kurti%20Manufacturer%20in%20Ahmedabad'

In [12]:
url_textsearch='https://maps.googleapis.com/maps/api/place/textsearch/json?query='+query+'&radius=200000&location=22.5056162,79.0594939'+'&key='+key

In [14]:
import urllib.request
with urllib.request.urlopen(url_2) as f:
    data=f.read(100000)

In [15]:
data

b'{\n   "candidates" : [\n      {\n         "business_status" : "OPERATIONAL",\n         "name" : "Trendzie collection\xe2\x80\x99s\xc2\xae (Customise Men\'s Tailor)",\n         "place_id" : "ChIJx1w7K1v9DDkRd69xPM33CgQ",\n         "types" : [ "point_of_interest", "establishment" ]\n      }\n   ],\n   "status" : "OK"\n}\n'

In [16]:
data_json=json.loads(data.decode())

In [17]:
pd.json_normalize(data_json['results'])

KeyError: 'results'

In [323]:
final_data=pd.json_normalize(data_json['candidates'])

In [324]:
final_data

,business_status,name,place_id,types
0,OPERATIONAL,Trendzie collection’s® (Customise Men's Tailor),ChIJx1w7K1v9DDkRd69xPM33CgQ,"[point_of_interest, establishment]"

In [286]:
https://www.google.com/maps/search/?api=1&query=Google&query_place_id=ChIJgZEmjM9P4DsRXGB_KKAAlPI

SyntaxError: invalid syntax (<ipython-input-286-98dcb9fe234b>, line 1)

In [117]:
final_data['']

SyntaxError: invalid syntax (<ipython-input-117-8cbabfbcfb86>, line 1)

In [287]:
fields_details='formatted_phone_number,website'

In [288]:
for index, row in final_data.iterrows():
    place_id=row['place_id']
    url_details='https://maps.googleapis.com/maps/api/place/details/json?place_id='+place_id+'&fields='+fields_details+'&key='+key

In [290]:
with urllib.request.urlopen(url_details) as f:
    data_details=f.read(600)

In [291]:
data_details

b'{\n   "html_attributions" : [],\n   "result" : {\n      "formatted_phone_number" : "090332 52577",\n      "website" : "http://www.hrkkurti.com/"\n   },\n   "status" : "OK"\n}\n'